@import '../../../assets/mixins';

.CategoryContainer {
	@include container-responsive;
	padding-bottom: 10rem;

	h1, h6 {
		text-align: center;
	}

	.table {
		margin: 4rem 0;
		width: 100%;

		tr {
			border-bottom: 1px solid #eee;

			td {
				padding: 10px;
				width: 100%;
			}
		}
	}
}